<!-- templates/post_list.html -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Boostrap</title>
</head>
<body>
    <div class="container">
        <table id='ourborder' class="table table-hover table-striped">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">TITLE</th>
                <th scope="col">DESCRIPTION</th>
              </tr>
            </thead>
            <tbody>
                {% for p in  post_list %}
                <tr>
                <th scope="row">{{p.id}}</th>
                <td>{{p.title}}</td>
                <td>{{p.description}}</td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
    
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</html>

