<!-- templates/registration/password_reset_form.html -->
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Forgot Your Password?{% endblock title %}
{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-light shadow-sm p-4" role="alert" style="border-color: #563d7c;">
                <h2 class="alert-heading" style="color: #563d7c;">Forgot Your Password? 🔐</h2>
                <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary w-100 mt-3" style="background-color: #563d7c; border-color: #563d7c;">
                        Send me instructions!
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
