<!-- templates/article_detail.html -->

{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="article-entry card shadow-sm p-4">
        <!-- Ensure this color is overriding correctly -->
        <h2 style="color: #563d7c; !important">{{ object.title }}</h2>
        <p class="text-muted">by {{ object.author }} | {{ object.date }}</p>
        <hr>
        <p>{{ object.body }}</p>
    </div>

    <div class="mt-4">
        <a href="{% url 'article_edit' article.pk %}" class="btn btn-primary" style="background-color: #563d7c; border-color: #563d7c;">Edit</a>
        <a href="{% url 'article_delete' article.pk %}" class="btn btn-primary" style="background-color: #563d7c; border-color: #563d7c;">Delete</a>
        <p class="mt-4">Back to <a href="{% url 'articles' %}" style="color: #563d7c; text-decoration: none;">All Articles</a>.</p>
    </div>
</div>
{% endblock content %}
